<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/data/jpa 
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/jee 
        http://www.springframework.org/schema/jee/spring-jee.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:general.properties</value>
		</property>
	</bean>


	<jee:jndi-lookup id="dsAmx" jndi-name="${database.jndi}"
		cache="true" expected-type="javax.sql.DataSource" />

<!-- Paquete donde se encuentran los Repositorios -->
	<jpa:repositories base-package="mx.com.amx.unotv.adminservice.repository" />

	<bean id="jpaVendorAdapter"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="showSql" value="true" />
		<property name="generateDdl" value="true" />
		<property name="database" value="MYSQL" />
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dsAmx" />
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
		<!-- Paquete donde se encuentran las entidades -->
		<property name="packagesToScan" value="mx.com.amx.unotv.adminservice.model" />
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="dataSource" ref="dsAmx" />
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dsAmx" />
	</bean>
	
	
	<context:annotation-config />
	<context:component-scan base-package="mx.com.amx.unotv.adminservice" />
	<tx:annotation-driven proxy-target-class="true"
		transaction-manager="transactionManager" />







</beans>