<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/data/jpa 
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/jee 
        http://www.springframework.org/schema/jee/spring-jee.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:general.properties</value>
		</property>
	</bean>


	<jee:jndi-lookup id="dsAmx" jndi-name="${database.jndi}"
		cache="true" expected-type="javax.sql.DataSource" />


	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dsAmx" />
	</bean>

	<bean id="categoriaDAO" class="mx.com.amx.unotv.adminservice.dao.CategoriaDAO"></bean>
	<bean id="seccionDAO" class="mx.com.amx.unotv.adminservice.dao.SeccionDAO"></bean>
	<bean id="tagDAO" class="mx.com.amx.unotv.adminservice.dao.TagDAO"></bean>
	<bean id="usuarioDAO" class="mx.com.amx.unotv.adminservice.dao.UsuarioDAO"></bean>
	<bean id="nNotaDAO" class="mx.com.amx.unotv.adminservice.dao.NNotaDAO"></bean>
	<bean id="hNotaDAO" class="mx.com.amx.unotv.adminservice.dao.HNotaDAO"></bean>
	<bean id="pcodeDAO" class="mx.com.amx.unotv.adminservice.dao.PcodeDAO"></bean>
	<bean id="magazineDAO" class="mx.com.amx.unotv.adminservice.dao.MagazineDAO"></bean>
	<bean id="iHNotaUsuarioDAO" class="mx.com.amx.unotv.adminservice.dao.IHNotaUsuarioDAO"></bean>
	
	
	

	
	










</beans>